week1/FolderSetup.jpg
week1/fsw-123_folder.jpg
week1/SlackTask_week1.jpg
week2/boxes_screenshot.jpg
week2/week2_slacktask.jpg
week2/todoList2_screenshot.jpg
week3/dice.jpg
week3/out-put.jpg
week3/rolldice.jpg
week3/assignments/todo3/deleted-output.jpg
week3/assignments/todo3/line-through.jpg
week3/assignments/todo3/output.jpg
week3/assignments/diceRoll/src/trial.js
week3/Week3Slack.jpg
week3/assignments/todo3/output-final.jpg
week4/assignments/screenshots/error_message.jpg
week4/assignments/screenshots/first_list.jpg
week4/assignments/screenshots/new_todo_added.jpg
week4/assignments/screenshots/text_field.jpg
